.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    text-align: center;
    align-items: center;
    padding-top: 8rem;
  }

  p {
    font-size: 1rem;
    font-family: "Rajdhani", serif;
    font-weight: 300;
   
  }

  @media (min-width: 1366px) {

    .container {
      padding-top: 18rem;
    }
  }