.container {
    height: 100dvh;
}

.title {
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 3rem;
    letter-spacing: 5px;
    padding: 1rem 0 1rem 0;
}


.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    padding-top: 100px;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 30px;
}

/* img {
    width: 80px;
} */

hr {
    width: 600px;
    height: 1px;
    border: none;
    background-color: #16C79A;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  background-color: #030712;
}

.wrapper {
  display: flex;
  align-items: center;
  width: 70%;
  max-width: 1536px;
  margin-inline: auto;
  height: 80px;
  position: relative;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}

@keyframes scrollLeft {
  to {
    left: -200px;
  }
}

@keyframes scrollRight {
  to {
    right: -200px;
  }
}

.itemLeft,
.itemRight {
  width: 60px;
  height: 60px;
  border-radius: 6px;
  position: absolute;
  animation-timing-function: linear;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}

.itemLeft {
  left: max(calc(200px * 5), 100%);
  animation-name: scrollLeft;
}

.itemRight {
  right: max(calc(200px * 5), calc(100% + 200px));
  animation-name: scrollRight;
}

.item1 {
  animation-delay: calc(30s / 5 * (8 - 1) * -1);
}

.item2 {
  animation-delay: calc(30s / 5 * (8 - 2) * -1);
}

.item3 {
  animation-delay: calc(30s / 5 * (8 - 3) * -1);
}

.item4 {
  animation-delay: calc(30s / 5 * (8 - 4) * -1);
}

.item5 {
  animation-delay: calc(30s / 5 * (8 - 5) * -1);
}

.item6 {
  animation-delay: calc(30s / 5 * (8 - 6) * -1);
}

.item7 {
  animation-delay: calc(30s / 5 * (8 - 7) * -1);
}

.item8 {
  animation-delay: calc(30s / 8 * (8 - 8) * -1);
}

@media (max-width: 428px) {
.wrapper {
  width: 90%;
  max-width: 350px;
  margin-inline: auto;
  height: 80px;
  position: relative;
  overflow: hidden;
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0));
}

hr {
  width: 300px;
}
}