.title {
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 45px;
}


.skills {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    height: 80vh;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 30px;
}

img {
    width: 80px;
}

hr {
    width: 400px;
    height: 1px;
    border: none;
    background-color: black;
}