<section class="container">
    <div class="image-container">
        <img src="assets/images/blaze.png" alt="Hero Image" class="hero">
    </div>

    <div class="info">
        <h1>Sebastian Blaze</h1>
        <h2>Frontend Developer</h2>
    
    <span>
        <a href="https://github.com/smootny/">
            <img
            class="icon"
            src="assets/icons/github.png"
          />
        </a>
        <a href="https://x.com/blazejewski_dev">
            <img
            class="icon"
            src="assets/icons/twitter.png"
          />
        </a>
        <a href="https://www.linkedin.com/in/sebastian-b%C5%82a%C5%BCejewski/">
            <img
            class="icon"
            src="assets/icons/linkedin.png"
          />
        </a>
    </span>
    <p class="description">
        I'm an indie front-end developer trying to solve my daily problems with projects I build.
    </p>
    <a>
        <button class="hover" (click)="downloadResume()">Download CV</button>
    </a>
</div>
</section>