.projects {
  height: 100dvh;
}
.container {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  gap: 60px;
}

.title {
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 3rem;
  letter-spacing: 5px;
  padding: 2rem 0 1rem 0;
}

img {
  max-width: 80%;
  display: block;
}

.code {
  width: 20px;
  height: 20px;
}

.code-img {
  width: 20px;
  height: 20px;
}

.card-list {
  width: 90%;
  max-width: 360px;
}

.card {
  background-color: #FFF;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 20px 50px 0 rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  overflow: hidden;
  padding: 1.25rem;
  position: relative;
  transition: 0.15s ease-in;
}

.card:hover,
.card:focus-within {
  box-shadow: 0 0 0 2px #16C79A, 0 10px 60px 0 rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
}

.card-image {
  border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.card-header {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.card-header a {
  position: relative;
  font-weight: 600;
  font-size: 1.375rem;
  line-height: 1.25;
  padding-right: 1rem;
  text-decoration: none;
  color: inherit;
  will-change: transform;
  font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
}

.card-header a::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  
}

.icon-button {
  border: 0;
  background-color: #fff;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  font-size: 1.25rem;
  transition: 0.25s ease;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
  z-index: 1;
  cursor: pointer;
  color: #565656;
}

.icon-button svg {
  width: 1em;
  height: 1em;
}

.icon-button:hover,
.icon-button:focus {
  background-color: #EC4646;
  color: #FFF;
}

.card-footer {
  margin-top: 0.7rem;
  border-top: 1px solid #ddd;
  padding-top: 1rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.card-meta {  
  display: flex;
  align-items: center;
  color: #787878;
}

.card-meta:first-child::after {
  display: block;
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: currentColor;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.card-meta svg {
  flex-shrink: 0;
  width: 1em;
  height: 1em;
  margin-right: 0.25em;
}

.tech-stack {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: black;
 
}

.images {
  display: flex;
  width: 40px;
  gap: 10px;
}

  
p {
  font-size: 20px;
  font-family: "Rajdhani", serif;
  font-weight: 100;
}
.code-img {
  position: absolute;
    right: 20px;
    width: 30px;
    height: 30px;
    bottom: 21px;
    border: 1px solid black;
    border-radius: 50%;
    padding: 0.1rem;
    cursor: pointer;
    filter: drop-shadow(0 0 1px black);
}

.code-img:hover {
  border: 2px solid #16C79A;
  background-color: #9BF09F;
}


/* iPhone 13+ */
@media (max-width: 428px) {
  .container {
    display: flex;
    overflow: hidden;
    position: relative;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 20px;
  }

  .title {
    padding: 1rem 0 0 0;
    font-size: 2.6rem;
  }

  img {
    max-width: 70%;
    display: block;
  }

  .card {
    background-color: #FFF;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 10px 10px 0 rgba(0, 0, 0, 0.1);    
    border-radius: 15px;
    overflow: hidden;
    padding: 1.25rem;
    position: relative;
    transition: 0.15s ease-in;
  }

  .card-list {
    width: 100%;
    flex-shrink: 0;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 0;
    right: 0;
  }

  .card-list.active {
    opacity: 1;
    visibility: visible;
    position: relative;
  }

  .card:hover,
  .card:focus {

    transform: none;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 10px 10px 0 rgba(0, 0, 0, 0.1);
  }
  .navigation-container {
    display: flex;
    justify-content: center;
  }

  .dot-navigation {
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.2);
    width: 120px;
    height: 30px;
    align-items: center;
    gap: 10px;
  }

  .dot {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .dot.active {
    background-color: #16C79A;
  }

  .code-img {
    position: absolute;
    bottom: 16px;
    right: 19px;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 50%;
    padding: 0.1rem;
  }

  .code-img:hover {
    border: 2px solid #16C79A;
    background-color: #9BF09F;
  }

  .code-img {

    background-color: #000;
    animation: pulse 4s infinite;

  }
    @keyframes pulse {
      0% {
        transform: scale(1);
        background-color: #fff;
        border: 1px solid black;
      }
      50% {
        transform: scale(1);
        background-color: #9BF09F;
        border: 2px solid #16C79A;
      }
      100% {
        transform: scale(1);
        background-color: #fff;
        border: 1px solid black;
      }
    }
}

/* Big screens+ */
@media (min-width: 1901px) {
  .container{
    gap: 100px;
    padding-top: 10rem;
  }

  .title {
    font-size: 5rem;
    padding: 3rem 0 1rem 0;
  }

  .card-list {
    width: 100%;
    max-width: 510px;
  }

  img {
    max-width: 90%;
  }

  p {
    font-size: 2rem;
  }

  .code-img {
    position: absolute;
    right:30px;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 50%;
    padding: 0.1rem;
    cursor: pointer;
    filter: drop-shadow(0 0 1px black);
  }

  .code-img:hover {
    border: 2px solid #16C79A;
    background-color: #9BF09F;
  }
}