<h1 class="title">Projects</h1>
<div class="container">
    <div class="card-list" (click)="openLink('https://github.com/smootny/FlexFlowFreeze')">
        <article class="card">
            <figure class="card-image">
                <img src="assets/images/trening-tools.png" alt="An orange painted blue, cut in half laying on a blue background" />
            </figure>
            <div class="card-header">
                <p>Trening Toolsv - Simple trening tools app with basic small apps that you need to have in your pocket.</p>
            </div>
            <div class="card-footer">
                <p class="tech-stack">Tech stack: </p>
            </div>
        </article>
    </div>
    
    <div class="card-list" (click)="openLink('https://github.com/smootny/gaweloft')">
        <article class="card">
            <figure class="card-image">
                <img src="assets/images/gaweloft1.png" alt="An orange painted blue, cut in half laying on a blue background" />
            </figure>
            <div class="card-header">
                <p>Gaweloft - a interior designer landing page for markerting.</p>
            </div>
            <div class="card-footer">
                <p class="tech-stack">Tech stack:</p>
            </div>
        </article>
    </div>
    
    <div class="card-list" (click)="openLink('https://github.com/smootny/WhoPays')">
        <article class="card">
            <figure class="card-image">
                <img src="assets/images/who-pays1.png" alt="An orange painted blue, cut in half laying on a blue background" />
            </figure>
            <div class="card-header">
                <p>Who Pays?! - A Fun Decision-Making Game.</p>
            </div>
            <div class="card-footer">
                <p class="tech-stack">Tech stack:</p>
            </div>
        </article>
    </div>
</div>
