<section class="projects">
    <h1 class="title">Projects</h1>
    <div class="container">
        <div class="card-list" (click)="openLink('https://github.com/smootny/FlexFlowFreeze')">
            <article class="card">
                <figure class="card-image">
                    <img src="assets/images/trening-tools.png" alt="An orange painted blue, cut in half laying on a blue background" />
                </figure>
                <div class="card-header">
                    <p>Trening Tools - simple tools for daily trening and diet use.</p>
                </div>
                <div class="card-footer">
                    <p class="tech-stack">Tech stack: </p>
                              <span class="images">
                                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/angular/angular-original.svg" />
              
    
                                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/typescript/typescript-original.svg" />
                                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original-wordmark.svg" />
    
                                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original-wordmark.svg" />
                                            
                                    
              
                                  
    
                                </span>
                
                   
                </div>
            </article>
        </div>
        
        <div class="card-list" (click)="openLink('https://github.com/smootny/gaweloft')">
            <article class="card">
                <figure class="card-image">
                    <img src="assets/images/gaweloft1.png" alt="An orange painted blue, cut in half laying on a blue background" />
                </figure>
                <div class="card-header">
                    <p>Gaweloft - interior designer landing page for portfolio.</p>
                </div>
                <div class="card-footer">
                    <p class="tech-stack">Tech stack:</p>
                    <span class="images">
                       
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg" />
              
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original-wordmark.svg" />
    
    
                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original-wordmark.svg" />
                                
                        
    
                      
    
                    </span>
                </div>
            </article>
        </div>
        
        <div class="card-list" (click)="openLink('https://github.com/smootny/WhoPays')">
            <article class="card">
                <figure class="card-image">
                    <img src="assets/images/who-pays1.png" alt="An orange painted blue, cut in half laying on a blue background" />
                </figure>
                <div class="card-header">
                    <p>Who Pays?! - a fun decision-making game.</p>
                </div>
                <div class="card-footer">
                    <p class="tech-stack">Tech stack: </p>
                        <span class="images">  
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/react/react-original.svg" />
    
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/typescript/typescript-original.svg" />
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original-wordmark.svg" />
    
                            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original-wordmark.svg" />
      
                          
    
                        </span>
                  
                </div>
            </article>
        </div>
    </div>
    
</section>
