.container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 150px;
    text-align: center;
    height: 100dvh;
    min-height: 500px;
    align-items: center;
}

h2 {
    font-size: 3rem;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    color: white;
}

.image-container {
    display: flex;
    width: 540px;
    overflow: hidden;
} 

.hero {
    max-width: 540px;
    width: 100%;
    animation: slideInFromRight 1.3s ease-out forwards;
    opacity: 0;
    transform: translateX(100%);
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.info {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    gap: 20px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    align-items: center;
} 

span {
    display: flex;
    gap: 40px;
    justify-content: center;
}

span a {
    margin-top: 10px;
}

.icon {
    width: 50px;
    opacity: 0; 
    transform: translateY(-20px);
    animation: fadeInFromTop 0.6s ease-out forwards;
}

.icon:nth-child(1) {
    animation-delay: 0.2s;
}

.icon:nth-child(2) {
    animation-delay: 0.4s;
}

.icon:nth-child(3) {
    animation-delay: 0.6s;
}

a {
    width: fit-content;
    align-self: center;
}

button {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 20px;
    width: 240px;
    height: 50px;
    font-size: 24px;
    font-family: "Rajdhani", serif;
    font-weight: 400;
    cursor: grab;
}

button:hover {
    transform: scale(1.01);
    box-shadow: 0 0 0 2px #16C79A, 0 10px 60px 0 rgba(0, 0, 0, 0.1);
}

button:active {
    transform: translateY(2px);
    box-shadow: 0 2px 2px rgba(0,0,0,0.25);
}

h1, h2 {
    margin: 0;
}

.description {
    max-width: 24ch;
    font-family: "Rajdhani", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 30px;
}

@keyframes fadeInFromTop {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* iPhone 13+ */
@media (max-width: 428px) { 
    .container {
        flex-direction: column;
        gap: 50px;
    }
    
    .image-container {
        display: flex;
        width: 350px;
        overflow: hidden;
        justify-content: center;
    } 

    .hero {
        max-width: 70%;
        transform: translateX(100%);
    }
}

/* Big screens+ */
@media (min-width: 1901px) {
    .container {
        flex-direction: row-reverse;
        gap: 100px;
    }
    
    .image-container {
        display: flex;
        width: 700px;
        overflow: hidden;
        justify-content: center;
    } 

    .hero {
        max-width: 100%;
        transform: translateX(100%);
    }

    .info {
        display: flex;
        flex-direction: column;
        font-size: 4rem;
        gap: 20px;
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
    } 

    h2 {
        font-size: 4rem;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
        color: white;
    }

    .description {
        font-size: 2.4rem;
    }

    button {
        width: 300px;
        height: 60px;
        font-size: 1.6rem;
    }
} 

